/*

!llvm-project
llvm-project/*
!llvm-project/build
!llvm-project/clang
!llvm-project/llvm

llvm-project/build/*
llvm-project/clang/*
llvm-project/llvm/*

!llvm-project/build/include
!llvm-project/build/tools
!llvm-project/clang/include
!llvm-project/llvm/include

llvm-project/build/tools/*
!llvm-project/build/tools/clang
llvm-project/build/tools/clang/*
!llvm-project/build/tools/clang/include

!llvm-project/build/tools/clang/lib
llvm-project/build/tools/clang/lib/*
!llvm-project/build/tools/clang/lib/Support
llvm-project/build/tools/clang/lib/Support/*
!llvm-project/build/tools/clang/lib/Support/obj.clangSupport.dir
llvm-project/build/tools/clang/lib/Support/obj.clangSupport.dir/*
!llvm-project/build/tools/clang/lib/Support/obj.clangSupport.dir/Release
llvm-project/build/tools/clang/lib/Support/obj.clangSupport.dir/Release/*

!llvm-project/build/Release
llvm-project/build/Release/*
!llvm-project/build/Release/lib
llvm-project/build/Release/lib/*

!llvm-project/build/Release/lib/clangAnalysis.lib
!llvm-project/build/Release/lib/clangAST.lib
!llvm-project/build/Release/lib/clangASTMatchers.lib
!llvm-project/build/Release/lib/clangBasic.lib
!llvm-project/build/Release/lib/clangDriver.lib
!llvm-project/build/Release/lib/clangEdit.lib
!llvm-project/build/Release/lib/clangFrontend.lib
!llvm-project/build/Release/lib/clangLex.lib
!llvm-project/build/Release/lib/clangParse.lib
!llvm-project/build/Release/lib/clangSema.lib
!llvm-project/build/Release/lib/clangSerialization.lib
!llvm-project/build/Release/lib/clangTooling.lib
!llvm-project/build/Release/lib/LLVMAsmParser.lib
!llvm-project/build/Release/lib/LLVMBinaryFormat.lib
!llvm-project/build/Release/lib/LLVMBitReader.lib
!llvm-project/build/Release/lib/LLVMBitstreamReader.lib
!llvm-project/build/Release/lib/LLVMCore.lib
!llvm-project/build/Release/lib/LLVMIRReader.lib
!llvm-project/build/Release/lib/LLVMMC.lib
!llvm-project/build/Release/lib/LLVMMCParser.lib
!llvm-project/build/Release/lib/LLVMOption.lib
!llvm-project/build/Release/lib/LLVMProfileData.lib
!llvm-project/build/Release/lib/LLVMRemarks.lib
!llvm-project/build/Release/lib/LLVMSupport.lib
!llvm-project/build/Release/lib/LLVMTargetParser.lib
!llvm-project/build/Release/lib/LLVMWindowsDriver.lib

!llvm-project/build/tools/clang/lib/Support/obj.clangSupport.dir/Release/obj.clangSupport.lib

*.cmake
*.stamp
*.depend
*.vcxproj
*.vcxproj.*
*.log
*.tlog
*.recipe
*.modulemap
*.td
*.txt
*.md
*.build
*.obj

!/.gitignore
!/generateLLVMProjects.bat
!/README.md

